<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark  scrolling-navbar " class="unos" [containerInside]="true" id="uno">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#"><img src="../../assets/img/ts_logo.png" width="50px" alt=""></a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/Materiales">Alumnos<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/Materiales">Maestros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/Materiales">Directores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/Materiales">Padres de familia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/Materiales">Comunidad Educativa</a>
            </li>


            <!-- Dropdown -->


        </ul>
        <!-- Links -->

        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link">
                    <mdb-icon fab icon="facebook-square" size="3x"></mdb-icon>
                </a>
            </li>

        </ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->