<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
    <app-sidebar></app-sidebar>
    <main class="page-content">
        <div class="container-fluid ">
            <div class="bordeabajo">
                <div class="row">
                    <div class=" col-xs-6 col-md-6">
                        <mdb-icon fas icon="bars" size="2x" style="color: #465056;" (click)="toggleSidebar()"></mdb-icon>

                        <a (click)="oupen('/home')">
                            <p class="d-inline-block p-3 font-weight-bold  text-default " style="font-size: 20px;">Inicio</p>
                        </a> /
                        <p class="d-inline-block p-3 " style="font-size: 20px;color: #66615b;font-weight: 400;">Maestros</p>
                    </div>
                    <div class="col-xs-6 col-md-6" style="display: flex;align-items: center;justify-content: center;">
                        <a (click)="openModalb()">
                            <p class="d-inline-block p-3 " style="font-size: 20px;color: #66615b;font-weight: 400;">
                                <img src="../../assets/img/buscar.png" width="35px"> Buscar</p>
                        </a>
                    </div>
                </div>
            </div>
            <router-outlet name="contenedor"></router-outlet>
        </div>
        <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>

    </main>

</div>